/*
'Width' 100px;  Largura de um elemento 
'heigth' 200PX; Altura de um elemento de acordo com a minha nescessidade

'auto' Define altura ou largura automaticamente se é uma div ele ocupa toda largura da tela.

'initial' Aplica sempre o valor padrão de cada propriedade.

'inherit'  Define o valor da nossa popriedade de acordo com o valor do elemento pai.

'Min-width' Largura minima 

'Max-width' Largura maxima

'Min-heigth' Altura minima 

'Max-heigth' Altura maxima 
*/